@charset "UTF-8";


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 90vw;
        height: 312px;
    }

    #building {
        float: left;
        height: 100%;
        width: 30%;
        background-image: url(../img/building-1080p.jpg);
        background-position: center top;
        display: block;
    }

    #loginArea {
        float: right;
        width: 70%;
    }
}