@charset "UTF-8";


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, var(--blue), var(--brown));
    }
    
    #login {
        width: 90vw;
        height: 350px;
    }

    #building {
        float: left;
        height: 100%;
        width: 35%;
        background-image: url(../img/building-1080p.jpg);
        background-position: center top;
        display: block;
    }

    #loginArea {
        float: right;
        width: 65%;
    }

    .inputText {
        height: 50px;
    } 

    .inputText span {
        margin-top: 6px;
    }
}

/* Telas Grandes */
@media screen and (min-width: 992px){
    main {
        background-image: linear-gradient(to bottom, var(--blue), var(--brown));
    }
    
    #login {
        width: 900px;
        height: 430px;
    }

    #building {
        float: right;
        height: 100%;
        width: 50%;
        background-image: url(../img/building-1080p.jpg);
        background-position: center top;
        display: block;
    }

    #loginArea {
        float: left;
        width: 50%;
        padding: 40px;
    }

    .inputText {
        height: 50px;
    } 

    .inputText span {
        margin-top: 6px;
    }
}